.bg-matte-black {
background-color: #232323; 
}

.bo{
background-color: #232323;
}

.col{
background-color: #232323;
margin: 10px;
}

.colo{
background-color: #D3D3D3;
padding: 50px;
border-radius: 20px;
}

.bg-dark{
background-color: #232323; 
}

.btn-contact {
background-color: #232323;
color: white; 
transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
transform: scale(1.1);
color: white; 
}

.form-control:hover {
border-color: #232323;
transition: border-color 0.3s ease-in-out;
}
