.bg-matte-black {
background-color: #232323;
}

.bo {
background-color: #232323;
}

.col {
background-color: #232323;
margin: 10px;
}

.colo {
background-color: #d3d3d3;
padding: 50px;
border-radius: 20px;
}

.bg-dark {
background-color: #232323;
}

.card {
text-align: center;
}

.card-img-top {
max-width: 250px;
height: auto;
max-height: 400px;
transition: all 0.3s ease-in-out; 
}

.card:hover .card-img-top {
max-width: 100%; 
max-height: 100%;
}
  