.profile-image {
float: right;
transition: transform 0.3s ease;
width: 300px;
height: 300px;
border-radius: 50%;
}

.profile-image:hover {
transform: scale(1.1);
}

.profile-image.modal-open {
transform: scale(2);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1000;
filter: blur(5px);
transition: transform 0.3s ease, filter 0.3s ease;
}

.text-transition {
opacity: 1;
transition: opacity 1.5s ease;
}

.fade-in-active {
opacity: 0;
}

.bg-matte-black {
background-color: #232323; 
}

.bo{
background-color: #232323;
}

.col{
background-color: #232323;
margin: 10px;
}

.colo{
background-color: #D3D3D3;
padding: 50px;
border-radius: 20px;
}

.bg-dark{
background-color: #232323; 
}